In [1]:
%run 'processing'
%run 'normalisasi'
%run 'case_folding'
%run 'stop_word'
%run 'stemmer'
%run 'bag_of_word'
from MyXML import MyXML

In [2]:
data_opini_1 = MyXML('./data/anotated/2016.xml')
data_opini_2 = MyXML('./data/anotated/2017.xml')
data_opini_3 = MyXML('./data/anotated/2018.xml')
data_opini_4 = MyXML('./data/anotated/2019.xml')
data_opini = data_opini_1.get_pair().copy()
data_opini += data_opini_2.get_pair()
data_opini += data_opini_3.get_pair()
data_opini += data_opini_4.get_pair()

In [3]:
data_opini = open_data_opini('data_opini.txt')
data_opini_stemmer = open_data_opini('data_opini_stemmer.txt')

In [4]:
fdist = frequency_distribution(data_opini)
fdist_stemmer = frequency_distribution(data_opini_stemmer)

In [5]:
dict_tf_idf = tf_idf_dict(data_opini)

In [6]:
show_table(dict_tf_idf)

            Token  Frekuensi
0           absen   7.525030
884     menemukan   7.525030
857      menambah   7.525030
859     menangani   7.525030
863    mencairkan   7.525030
...           ...        ...
1206  perkuliahan   3.100183
1303      ruangan   2.945177
385         dosen   2.847539
579         kelas   2.793227
756     mahasiswa   2.605049

[1598 rows x 2 columns]

In [10]:
for i in range(0, 4):
    print(i)

0
1
2
3

In [ ]:
#besok benerin postagger sama buat word2vec
#minta formatnya gimana abis itu training