In [1]:
from MyXML import MyXML
import pandas as pd
import numpy as np

# summary dataset 1

In [2]:
data_opini_1 = MyXML('./data/anotated/2016.xml')
data_opini_1.summary_data()

jumlah kalimat :264
label polaritas : {'Negatif', 'Positif', 'Netral'}
label Aspek : {'Nilai', 'Perkuliahan', 'Layanan', 'Dosen#Umum', 'Dosen#Mengajar', 'NoAspect', 'Sarpras'}
{'Positif': 125, 'Negatif': 125, 'Netral': 38}
{'NoAspect': {'Positif': 50, 'Negatif': 17, 'Netral': 22}, 'Sarpras': {'Positif': 14, 'Negatif': 52, 'Netral': 3}, 'Perkuliahan': {'Positif': 11, 'Negatif': 13, 'Netral': 7}, 'Dosen#Mengajar': {'Netral': 2, 'Negatif': 13, 'Positif': 12}, 'Dosen#Umum': {'Netral': 4, 'Negatif': 19, 'Positif': 20}, 'Nilai': {'Negatif': 5}, 'Layanan': {'Positif': 18, 'Negatif': 6}}

In [3]:
data_1 = data_opini_1.summary_detail()
pd.DataFrame.from_dict(data_1, orient='index').fillna(0).astype(int)

                Positif  Negatif  Netral
NoAspect             50       17      22
Sarpras              14       52       3
Perkuliahan          11       13       7
Dosen#Mengajar       12       13       2
Dosen#Umum           20       19       4
Layanan              18        6       0
Nilai                 0        5       0

# summary dataset 2

In [4]:
data_opini_2 = MyXML('./data/anotated/2017.xml')
data_opini_2.summary_data()

jumlah kalimat :330
label polaritas : {'Negatif', 'Positif', 'Netral'}
label Aspek : {'Layanan', 'Perkuliahan', 'Nilai', 'Dosen#Umum', 'Dosen#Mengajar', 'NoAspect', 'Sarpras'}
{'Netral': 85, 'Positif': 150, 'Negatif': 151}
{'NoAspect': {'Netral': 44, 'Positif': 16, 'Negatif': 3}, 'Sarpras': {'Positif': 24, 'Negatif': 61, 'Netral': 13}, 'Dosen#Umum': {'Negatif': 25, 'Positif': 27, 'Netral': 7}, 'Perkuliahan': {'Positif': 25, 'Negatif': 31, 'Netral': 15}, 'Layanan': {'Positif': 16, 'Negatif': 6, 'Netral': 1}, 'Dosen#Mengajar': {'Positif': 42, 'Negatif': 20, 'Netral': 5}, 'Nilai': {'Negatif': 5}}

In [5]:
data_2 = data_opini_2.summary_detail()
pd.DataFrame.from_dict(data_2, orient='index').fillna(0).astype(int)

                Netral  Positif  Negatif
NoAspect            44       16        3
Sarpras             13       24       61
Dosen#Umum           7       27       25
Perkuliahan         15       25       31
Layanan              1       16        6
Dosen#Mengajar       5       42       20
Nilai                0        0        5

# summary dataset 3

In [6]:
data_opini_3 = MyXML('./data/anotated/2018.xml')
data_opini_3.summary_data()

jumlah kalimat :480
label polaritas : {'Negatif', 'Positif', 'Netral'}
label Aspek : {'Layanan', 'Perkuliahan', 'Dosen#Umum', 'Bingung', 'Dosen#Mengajar', 'NoAspect', 'Sarpras'}
{'Positif': 193, 'Negatif': 295, 'Netral': 82}
{'Sarpras': {'Positif': 52, 'Negatif': 146, 'Netral': 17}, 'Perkuliahan': {'Negatif': 55, 'Netral': 10, 'Positif': 21}, 'Dosen#Umum': {'Negatif': 22, 'Positif': 28, 'Netral': 7}, 'Dosen#Mengajar': {'Netral': 9, 'Positif': 71, 'Negatif': 49}, 'NoAspect': {'Netral': 33, 'Positif': 11, 'Negatif': 4}, 'Layanan': {'Netral': 3, 'Negatif': 19, 'Positif': 9}, 'Bingung': {'Netral': 3, 'Positif': 1}}

In [7]:
data_3 = data_opini_3.summary_detail()
pd.DataFrame.from_dict(data_3, orient='index').fillna(0).astype(int)

                Positif  Negatif  Netral
Sarpras              52      146      17
Perkuliahan          21       55      10
Dosen#Umum           28       22       7
Dosen#Mengajar       71       49       9
NoAspect             11        4      33
Layanan               9       19       3
Bingung               1        0       3

# summary dataset 4

In [8]:
data_opini_4 = MyXML('./data/anotated/2019.xml')
data_opini_4.summary_data()

jumlah kalimat :289
label polaritas : {'Negatif', 'Positif', 'Netral'}
label Aspek : {'Layanan', 'Perkuliahan', 'Nilai', 'Dosen#Umum', 'Dosen#Mengajar', 'NoAspect', 'Sarpras'}
{'Positif': 60, 'Negatif': 215, 'Netral': 40}
{'Dosen#Umum': {'Positif': 3, 'Netral': 2, 'Negatif': 16}, 'Sarpras': {'Negatif': 128, 'Positif': 15, 'Netral': 12}, 'Dosen#Mengajar': {'Negatif': 9, 'Positif': 11, 'Netral': 4}, 'Perkuliahan': {'Netral': 14, 'Negatif': 44, 'Positif': 17}, 'NoAspect': {'Netral': 7, 'Positif': 2, 'Negatif': 1}, 'Layanan': {'Positif': 12, 'Negatif': 9, 'Netral': 1}, 'Nilai': {'Negatif': 8}}

In [9]:
data_4 = data_opini_4.summary_detail()
pd.DataFrame.from_dict(data_4, orient='index').fillna(0).astype(int)

                Positif  Netral  Negatif
Dosen#Umum            3       2       16
Sarpras              15      12      128
Dosen#Mengajar       11       4        9
Perkuliahan          17      14       44
NoAspect              2       7        1
Layanan              12       1        9
Nilai                 0       0        8

# summary total data

In [10]:
a = [data_1, data_2, data_3, data_4]
data_total = {}
for m in a:
    for k, v in m.items():
        if k not in data_total:
            data_total[k] = {}
        for x, y in v.items():
            if x not in data_total[k]:
                data_total[k][x] = y
            else:
                data_total[k][x] += y
    
pd.DataFrame.from_dict(data_total, orient='index').fillna(0).astype(int)

                Positif  Negatif  Netral
NoAspect             79       25     106
Sarpras             105      387      45
Perkuliahan          74      143      46
Dosen#Mengajar      136       91      20
Dosen#Umum           78       82      20
Layanan              55       40       5
Bingung               1        0       3
Nilai                 0       18       0

In [13]:
# liat berapa kalimat yang ada multi aspek
satu = data_opini_1.get_pair()
dua = data_opini_2.get_pair()
tiga = data_opini_3.get_pair()
empat = data_opini_4.get_pair()

In [14]:
D = [satu, dua, tiga, empat]
multi_aspek = {}
for data in D:
    for text, opini in data:
        if len(opini) not in multi_aspek:
            multi_aspek[len(opini)] = 0
        multi_aspek[len(opini)] += 1
multi_aspek

{1: 1171, 2: 188, 3: 4}