In [12]:
from MyXML import MyXML
import pandas as pd
import numpy as np

# summary dataset 1

In [13]:
data_opini_1 = MyXML('../databackup/semua.xml')
data_opini_1.summary_data()

jumlah kalimat :264
label polaritas : {'Negatif', 'Positif', 'Netral'}
label Aspek : {'Perkuliahan', 'Nilai', 'Sarpras', 'Dosen#Umum', 'Layanan', 'NoAspect', 'Dosen#Mengajar'}
{'Positif': 125, 'Negatif': 125, 'Netral': 39}
{'NoAspect': {'Positif': 50, 'Negatif': 17, 'Netral': 22}, 'Sarpras': {'Positif': 14, 'Negatif': 52, 'Netral': 4}, 'Perkuliahan': {'Positif': 11, 'Negatif': 13, 'Netral': 7}, 'Dosen#Umum': {'Netral': 5, 'Negatif': 19, 'Positif': 20}, 'Dosen#Mengajar': {'Negatif': 13, 'Positif': 12, 'Netral': 1}, 'Nilai': {'Negatif': 5}, 'Layanan': {'Positif': 18, 'Negatif': 6}}

In [15]:
data_1 = data_opini_1.summary_detail()
pd.DataFrame.from_dict(data_1, orient='index').fillna(0).astype(int)

                Positif  Negatif  Netral
NoAspect             50       17      22
Sarpras              14       52       4
Perkuliahan          11       13       7
Dosen#Umum           20       19       5
Dosen#Mengajar       12       13       1
Layanan              18        6       0
Nilai                 0        5       0

# summary dataset 2

In [4]:
data_opini_2 = MyXML('../databackup/2017.xml')
data_opini_2.summary_data()

jumlah kalimat :330
label polaritas : {'Negatif', 'Positif', 'Netral'}
label Aspek : {'Perkuliahan', 'Nilai', 'Sarpras', 'Dosen#Umum', 'Layanan', 'NoAspect', 'Dosen#Mengajar'}
{'Netral': 87, 'Positif': 150, 'Negatif': 149}
{'NoAspect': {'Netral': 44, 'Positif': 15, 'Negatif': 2}, 'Sarpras': {'Positif': 24, 'Negatif': 60, 'Netral': 14}, 'Dosen#Umum': {'Negatif': 25, 'Positif': 28, 'Netral': 8}, 'Perkuliahan': {'Positif': 25, 'Negatif': 31, 'Netral': 15}, 'Layanan': {'Positif': 16, 'Negatif': 6, 'Netral': 1}, 'Dosen#Mengajar': {'Positif': 42, 'Negatif': 20, 'Netral': 5}, 'Nilai': {'Negatif': 5}}

In [16]:
data_2 = data_opini_2.summary_detail()
pd.DataFrame.from_dict(data_2, orient='index').fillna(0).astype(int)

                Netral  Positif  Negatif
NoAspect            44       15        2
Sarpras             14       24       60
Dosen#Umum           8       28       25
Perkuliahan         15       25       31
Layanan              1       16        6
Dosen#Mengajar       5       42       20
Nilai                0        0        5

# summary dataset 3

In [6]:
data_opini_3 = MyXML('../databackup/2018.xml')
data_opini_3.summary_data()

jumlah kalimat :482
label polaritas : {'Negatif', 'Positif', 'Netral'}
label Aspek : {'Perkuliahan', 'Bingung', 'Sarpras', 'Dosen#Umum', 'Layanan', 'NoAspect', 'Dosen#Mengajar'}
{'Positif': 193, 'Negatif': 295, 'Netral': 84}
{'Sarpras': {'Positif': 52, 'Negatif': 146, 'Netral': 17}, 'Perkuliahan': {'Negatif': 55, 'Netral': 10, 'Positif': 21}, 'Dosen#Umum': {'Negatif': 22, 'Positif': 28, 'Netral': 7}, 'Dosen#Mengajar': {'Netral': 9, 'Positif': 71, 'Negatif': 49}, 'NoAspect': {'Netral': 33, 'Positif': 11, 'Negatif': 4}, 'Layanan': {'Netral': 3, 'Negatif': 19, 'Positif': 9}, 'Bingung': {'Netral': 5, 'Positif': 1}}

In [17]:
data_3 = data_opini_3.summary_detail()
pd.DataFrame.from_dict(data_3, orient='index').fillna(0).astype(int)

                Positif  Negatif  Netral
Sarpras              52      146      17
Perkuliahan          21       55      10
Dosen#Umum           28       22       7
Dosen#Mengajar       71       49       9
NoAspect             11        4      33
Layanan               9       19       3
Bingung               1        0       5

# summary dataset 4

In [8]:
data_opini_4 = MyXML('../databackup/2019.xml')
data_opini_4.summary_data()

jumlah kalimat :289
label polaritas : {'Negatif', 'Positif', 'Netral'}
label Aspek : {'Perkuliahan', 'Nilai', 'Sarpras', 'Dosen#Umum', 'Layanan', 'NoAspect', 'Dosen#Mengajar'}
{'Positif': 60, 'Negatif': 215, 'Netral': 40}
{'Dosen#Umum': {'Positif': 3, 'Netral': 2, 'Negatif': 16}, 'Sarpras': {'Negatif': 128, 'Positif': 15, 'Netral': 12}, 'Dosen#Mengajar': {'Negatif': 9, 'Positif': 11, 'Netral': 4}, 'Perkuliahan': {'Netral': 14, 'Negatif': 44, 'Positif': 17}, 'NoAspect': {'Netral': 7, 'Positif': 2, 'Negatif': 1}, 'Layanan': {'Positif': 12, 'Negatif': 9, 'Netral': 1}, 'Nilai': {'Negatif': 8}}

In [18]:
data_4 = data_opini_4.summary_detail()
pd.DataFrame.from_dict(data_4, orient='index').fillna(0).astype(int)

                Positif  Netral  Negatif
Dosen#Umum            3       2       16
Sarpras              15      12      128
Dosen#Mengajar       11       4        9
Perkuliahan          17      14       44
NoAspect              2       7        1
Layanan              12       1        9
Nilai                 0       0        8

# summary total data

In [19]:
a = [data_1, data_2, data_3, data_4]
data_total = {}
for m in a:
    for k, v in m.items():
        if k not in data_total:
            data_total[k] = {}
        for x, y in v.items():
            if x not in data_total[k]:
                data_total[k][x] = y
            else:
                data_total[k][x] += y
    
pd.DataFrame.from_dict(data_total, orient='index').fillna(0).astype(int)

                Positif  Negatif  Netral
NoAspect             78       24     106
Sarpras             105      386      47
Perkuliahan          74      143      46
Dosen#Umum           79       82      22
Dosen#Mengajar      136       91      19
Layanan              55       40       5
Bingung               1        0       5
Nilai                 0       18       0