In [1]:
from MyXML import MyXML
import pandas as pd
import numpy as np
import nltk

# summary dataset 1

In [2]:
data_opini_1 = MyXML('./data/anotated/2016.xml')
data_opini_1.summary_data()

jumlah kalimat :264
label polaritas : {'Netral', 'Negatif', 'Positif'}
label Aspek : {'Sarpras', 'Pengajar', 'Nilai', 'Perkuliahan', 'NoAspect', 'Dosen#Mengajar', 'Layanan', 'Dosen#Umum'}
{'Positif': 127, 'Negatif': 125, 'Netral': 45}
{'NoAspect': {'Positif': 50, 'Negatif': 17, 'Netral': 22}, 'Sarpras': {'Positif': 15, 'Negatif': 49, 'Netral': 3}, 'Perkuliahan': {'Positif': 11, 'Negatif': 16, 'Netral': 9}, 'Dosen#Mengajar': {'Netral': 4, 'Negatif': 12, 'Positif': 13}, 'Dosen#Umum': {'Netral': 5, 'Negatif': 19, 'Positif': 20}, 'Pengajar': {'Netral': 1}, 'Nilai': {'Negatif': 6}, 'Layanan': {'Positif': 18, 'Netral': 1, 'Negatif': 6}}

In [3]:
data_1 = data_opini_1.summary_detail()
pd.DataFrame.from_dict(data_1, orient='index').fillna(0).astype(int)

                Positif  Negatif  Netral
NoAspect             50       17      22
Sarpras              15       49       3
Perkuliahan          11       16       9
Dosen#Mengajar       13       12       4
Dosen#Umum           20       19       5
Layanan              18        6       1
Nilai                 0        6       0
Pengajar              0        0       1

# summary dataset 2

In [4]:
data_opini_2 = MyXML('./data/anotated/2017.xml')
data_opini_2.summary_data()

jumlah kalimat :209
label polaritas : {'Netral', 'Negatif', 'Positif'}
label Aspek : {'Sarpras', 'Perkuliahan', 'NoAspect', 'Dosen#Mengajar', 'Layanan', 'Dosen#Umum'}
{'Negatif': 114, 'Positif': 118, 'Netral': 12}
{'Dosen#Umum': {'Negatif': 12, 'Positif': 20}, 'Perkuliahan': {'Negatif': 35, 'Positif': 23, 'Netral': 1}, 'Dosen#Mengajar': {'Positif': 38, 'Negatif': 17, 'Netral': 2}, 'Sarpras': {'Positif': 19, 'Negatif': 44, 'Netral': 2}, 'Layanan': {'Positif': 11, 'Negatif': 3}, 'NoAspect': {'Netral': 7, 'Positif': 7, 'Negatif': 3}}

In [5]:
data_2 = data_opini_2.summary_detail()
pd.DataFrame.from_dict(data_2, orient='index').fillna(0).astype(int)

                Negatif  Positif  Netral
Dosen#Umum           12       20       0
Perkuliahan          35       23       1
Dosen#Mengajar       17       38       2
Sarpras              44       19       2
Layanan               3       11       0
NoAspect              3        7       7

# summary dataset 3

In [6]:
data_opini_3 = MyXML('./data/anotated/2018.xml')
data_opini_3.summary_data()

jumlah kalimat :484
label polaritas : {'Netral', 'Negatif', 'Positif'}
label Aspek : {'Sarpras', 'Perkuliahan', 'NoAspect', 'Dosen#Mengajar', 'Layanan', 'Dosen#Umum', 'Bingung'}
{'Positif': 199, 'Negatif': 319, 'Netral': 93}
{'Sarpras': {'Positif': 54, 'Negatif': 154, 'Netral': 19}, 'Perkuliahan': {'Negatif': 60, 'Netral': 11, 'Positif': 22}, 'Dosen#Umum': {'Positif': 29, 'Negatif': 23, 'Netral': 10}, 'Dosen#Mengajar': {'Netral': 10, 'Positif': 72, 'Negatif': 55}, 'NoAspect': {'Netral': 34, 'Positif': 12, 'Negatif': 6}, 'Layanan': {'Netral': 5, 'Negatif': 21, 'Positif': 9}, 'Bingung': {'Netral': 4, 'Positif': 1}}

In [7]:
data_3 = data_opini_3.summary_detail()
pd.DataFrame.from_dict(data_3, orient='index').fillna(0).astype(int)

                Positif  Negatif  Netral
Sarpras              54      154      19
Perkuliahan          22       60      11
Dosen#Umum           29       23      10
Dosen#Mengajar       72       55      10
NoAspect             12        6      34
Layanan               9       21       5
Bingung               1        0       4

# summary dataset 4

In [8]:
data_opini_4 = MyXML('./data/anotated/2019.xml')
data_opini_4.summary_data()

jumlah kalimat :297
label polaritas : {'Netral', 'Negatif', 'Positif'}
label Aspek : {'Sarpras', 'Nilai', 'Perkuliahan', 'NoAspect', 'Dosen#Mengajar', 'Layanan', 'Dosen#Umum'}
{'Positif': 68, 'Negatif': 239, 'Netral': 49}
{'Dosen#Umum': {'Positif': 4, 'Netral': 2, 'Negatif': 18}, 'Sarpras': {'Negatif': 142, 'Positif': 21, 'Netral': 14}, 'Dosen#Mengajar': {'Negatif': 10, 'Positif': 12, 'Netral': 4}, 'Perkuliahan': {'Netral': 19, 'Negatif': 49, 'Positif': 17}, 'NoAspect': {'Netral': 8, 'Positif': 2, 'Negatif': 1}, 'Layanan': {'Positif': 12, 'Negatif': 10, 'Netral': 2}, 'Nilai': {'Negatif': 9}}

In [9]:
data_4 = data_opini_4.summary_detail()
pd.DataFrame.from_dict(data_4, orient='index').fillna(0).astype(int)

                Positif  Netral  Negatif
Dosen#Umum            4       2       18
Sarpras              21      14      142
Dosen#Mengajar       12       4       10
Perkuliahan          17      19       49
NoAspect              2       8        1
Layanan              12       2       10
Nilai                 0       0        9

# summary total data

In [10]:
a = [data_1, data_2, data_3, data_4]
data_total = {}
for m in a:
    for k, v in m.items():
        if k not in data_total:
            data_total[k] = {}
        for x, y in v.items():
            if x not in data_total[k]:
                data_total[k][x] = y
            else:
                data_total[k][x] += y
    
pd.DataFrame.from_dict(data_total, orient='index').fillna(0).astype(int)

                Positif  Negatif  Netral
NoAspect             71       27      71
Sarpras             109      389      38
Perkuliahan          73      160      40
Dosen#Mengajar      135       94      20
Dosen#Umum           73       72      17
Layanan              50       40       8
Bingung               1        0       4
Nilai                 0       15       0
Pengajar              0        0       1

In [11]:
# liat berapa kalimat yang ada multi aspek
satu = data_opini_1.get_pair()
dua = data_opini_2.get_pair()
tiga = data_opini_3.get_pair()
empat = data_opini_4.get_pair()

In [12]:
D = [satu, dua, tiga, empat]
multi_aspek = {}
for data in D:
    for text, opini in data:
        if len(opini) not in multi_aspek:
            multi_aspek[len(opini)] = 0
        multi_aspek[len(opini)] += 1
multi_aspek

{1: 1004, 2: 246, 3: 4}

In [13]:
# check ada berapa dan apa aja kalimat yang kata konjungsi di (awal kalimat) kata kedua
konjungsi = ['tetapi', 'tapi', 'namun', 'hanya', 'cuma', 'cuman', 'walaupun', 'walau', 'meskipun']
result = []
for data in D:
    for text, opini in data:
        list_word = nltk.tokenize.word_tokenize(text)
        cnt = 0
        ok = 0
        for word in list_word:
            if word.isalpha():
                cnt += 1;
            if cnt == 2:
                if word in konjungsi:
                    ok = 1
                break
        if ok:
            result.append(text)
result

['baik, namun dari segi penyampaian masih seperti anak sekolahan',
 'akan tetapi kelas sering kotor.',
 'lumayan, tetapi komputer masih kurang',
 'bagus, tapi ga semuanya.',
 'bagus, hanya saja terkadang dosen kurang memahami apa yang ingin disampaikan',
 'baik, tapi sekarang sepertinya masih belum ramah bagi mahasiswa, karena bgi mahasiswa yang kekurangan fasilitas dan sering gak dapet',
 'saya hanya ingin dosen bisa membuat materi yg dijelaskan menjadi sebuah memori jangka panjang untuk para mahasiswa',
 'beberapa hanya membaca slide dan memberikan tugas, tidak dapat menjelaskan pertanyaan dari mahasiswa dan meminta mahasiswa yang lebih mengerti untuk membantu menjelaskan.',
 'akan tetapi ada beberapa teman saya yang memang kurang mengerti perihal administrasi di prodi',
 'mungkin hanya yang kurang di fasilitas di praktikum.',
 'terkadang hanya terganggu konsentrasinya karna suasana di luar ruangan yang ramai jika pergantian jam di ruangan sebelah.',
 'baik, tetapi ada beberapa dosen yang sangat sulit dihubungi',
 'saya hanya ingin mahasiswa bisa lebih mengutamakan pemahaman daripada nilai, dan menurut saya itu harus di mulai dari ketegasan tenaga pengajarnya.']

In [14]:
# cek kalimat lebi dari 2 aspek
rr = []
for data in D:
    for text, opini in data:
        if len(opini) > 2:
            rr.append(text)
rr

["beberapa dosen belum dapat menguasai kelas dengan baik, tapi sudah cukup dalam hal ilmu yang di ajarkan. hanya saja untuk kuliah yang terkesan padat/lama , mahasiswa butuh sedikit 'joke' untuk mencairkan suasana agar tidak bosan",
 'sebagian besar sudah sangat baik, namun ada beberapa pengajar yang tidak peduli terhadap mahasiswanya, dan hanya berfokus untuk menyelesaikan kewajibannya saja tanpa peduli mahasiswa mengerti atau tidak',
 'semoga untuk kedepannya dosen-dosen itera semakin baik lagi, tidak hanya sekedar memberikan tugas tapi harus menunaikan tanggung jawabnya sebagai pengajar.',
 'sbnernya kondisi perkuliahan udah bagus cuma kdng ad aja suara orang jerit2 atau suara yg besar jd memecah konsentrasi, trus kdng ac mati, wifi ngadat zebel']

In [15]:
%run './experiment1/split_kalimat'

In [16]:
for sen in rr:
    x = split_kalimat2(sen)
    print(add_noun_phrase(x))

['beberapa dosen belum dapat menguasai kelas dengan baik ,', 'tapi sudah cukup dalam hal ilmu yang di ajarkan .', "hanya saja untuk kuliah yang terkesan padat/lama , mahasiswa butuh sedikit 'joke ' untuk mencairkan suasana agar tidak bosan"]
['pengajar sebagian besar sudah sangat baik ,', 'namun ada beberapa pengajar yang tidak peduli terhadap mahasiswanya , dan', 'hanya berfokus untuk menyelesaikan kewajibannya saja tanpa peduli mahasiswa mengerti atau tidak']
['semoga untuk kedepannya dosen-dosen itera semakin baik lagi , tidak', 'hanya sekedar memberikan tugas', 'tapi harus menunaikan tanggung jawabnya sebagai pengajar .']
['sbnernya kondisi perkuliahan udah bagus', 'cuma kdng ad aja suara orang jerit2 atau suara yg besar jd memecah konsentrasi , trus kdng ac mati , wifi ngadat zebel']

In [17]:
rr[0][:2] + "   " + rr[0][2:]

"be   berapa dosen belum dapat menguasai kelas dengan baik, tapi sudah cukup dalam hal ilmu yang di ajarkan. hanya saja untuk kuliah yang terkesan padat/lama , mahasiswa butuh sedikit 'joke' untuk mencairkan suasana agar tidak bosan"